# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore CSV files
*.csv

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff

# Ignore virtual environment
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db